/*global changes*/
body {
    color: hsl(0, 0%, 100%);
    background-color: #000000;
    font-size: .5cm;
}
*{
    font-family: "Lucida Console", "Courier New", monospace;
}

header {
    position: static;
    text-align: center;
    font-size: 1em;
}
a[href="https://github.com/pdn002"] {
    color: purple;
}
h2{
    font-size: 5ex;
    text-decoration: underline;
}
div > section { /* specifically the child section in nav */
    font-size: 2ch;
}
#agenda #media{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}
#agenda .media2{ /* media 2 is decendant of agenda */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "one two"
        "three four";
}
#css{
    grid-area: one;
    justify-self: center;
} 
#cssEx{
    grid-area: four;
    justify-self: end;
}
main{
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right:50px;
    border-style: double;
    border-color: purple;
    border-radius: 50px;
    border-width: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1000px;
    height: 450px;
}
ul ul{
    position: relative;
    left: .2in;
}
@media only screen and (max-width: 600px) {
    main {
      background-color: navy;
    }
  }
a:hover {
    color: rgb(0, 222, 255);
}
a:active{
    color: red;
}
nav, #present{
    margin: 100px 50px 100px 50px;
    padding: 5px 20px 20px 20px;
    border-style: double;
    border-color: purple;
    border-radius: 50px;
    border-width: 10px;
}
#navAndPresent{ /* multiple elemnts*/
    margin:auto;
    display: grid;
    width: 1000px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "one two";  
}
div{
    grid-area: one;
    justify-self: center;
}
span{
    grid-area: two;
    justify-self: center
}
main + section{ /* same thing as conclusion*/
    display: inline-block;
    margin: 100px 50px 100px 50px;
    padding: 5px 20px 20px 20px;
    border-style: double;
    border-color: purple;
    border-radius: 50px;
    border-width: 10px;
    max-width: 1200px;
    max-height: 500px;
}
li ~ li{ /* every bulletpoint following first */
    color:gray
}
section.media2{
    background-color: #1b1919
}